{% set year = '2024' %}
{% set date = '25. január - 29. január 2025' %}
{% set altdate = '10. január - 12. január 2025' %}
{% set deadline = '05.11.2024' %}
{% set formlink = 'https://share-eu1.hsforms.com/1tmIvwyvxS2GU2BNOqfTqGw2deo8m' %}
{% set contactperson = '' %}
{% set contactmail = 'info.zimnykurz@plusko.net' %}
{% set contactphone = '+421 915 845 455' %}
{% set price = '160' %}
{% set price2 = '180' %}
{% set fb_event = '' %}

{% extends "_layout.common.twig" %}

{% block title %}Cestou Zimy, zimný kurz Pluska{% endblock %}

{% block page %}

{% include '_hero.twig' %}

<div class="contentwrap">
  {% include '_about.twig' %}
  {% include '_testimonials.twig' %}
  {% include '_course-parts.twig' %}
  {% include '_gallery.twig' %}
  {% include '_equipment.twig' %}
</div>

<hr>

<div class="contentwrap">
  {% include '_team.twig' %}
  {% include '_signup.twig' %}
  {% include '_weather-covid.twig' %}
</div>

{% endblock %}
